.box1 {
    border-color: red;
    border-width: 20px;
    border-style: solid;
    width: 30%;
    margin: auto;
    padding: 10px;
    background-color: gray;
}

.box2 {
    background-color: pink; 
    text-align: center;
}

.box3 {
    /** If arial not available then helvetica and so on **/
    font-family: Arial, Helvetica, sans-serif;
    width: 20%;
    font-size: large;
    font-weight: bold;
    padding: 5px;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    background-color: blue;
    border: 5px solid black;
    text-align: center;
    margin: auto;
}

.box4 {
    width: 50%;
    border: solid 5px blue;
    margin: auto;
    margin-top: 20px;
}

.box4 h1 {
    text-align: center;
}

.box4 a {
    text-decoration: none;
    color: black;
}

.box4 a:hover {
    color: red;
    font-style: italic;
}

.box4 li {
    border-bottom: 1px dotted red;
    padding: 5px;
}
.box5 h1 {
    margin: auto;
    text-align: center;
}
.box5 {
    padding: 20px;
    width: 50%;
    margin: auto;
    margin-top: 20px;
    background-color: cyan;
}
.box5 .my-form .form-field {
    padding: 5px;
}

.box5 .my-form .form-field label {
    display: block;
    background-color: wheat;
}
.box5 .my-form input {
    padding: 8px;
    width: 100%;
}

.button {
    display: block;
    margin: auto;
    width: 10%;
    background-color: pink;
}